<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>Logged in as: <span th:text="${username}"></span></p>
<h1>メモ一覧</h1>

<div th:text="${memos[0].account.username}"></div>

<div th:each="memo : ${memos}">
  <div th:text="'・' + ${memo.text}"></div>
  <button th:if="${#authentication.name == memo.account.username}">
    <a th:href="@{/account/{accountId}/memos/{memoId}/edit(accountId=${memo.account.id}, memoId=${memo.id})}">更新</a>
  </button>
</div>

<!--  <div th:each="memo : ${memos}">-->
<!--    <a th:href="@{/account/{accountId}/memos(accountId=${memo.account.id})}" th:text="${memo.account.username}"></a>-->
<!--    <div th:text="'・' + ${memo.text}"></div>-->

  </div>

</body>
</html>
