<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<p>Logged in as: <span th:text="${#authentication?.name}"></span></p>
<body> <h1>メモ一覧</h1>
<div th:each="memo : ${memos}">
    <a th:href="@{/account/{accountId}/memos(accountId=${memo.account.id})}" th:text="${memo.account.username}"></a>
    <div th:text="'・' + ${memo.text}"></div>
    <div th:if="${#authentication.name == memo.account.username}">
        <a class="button" th:href="@{/account/{accountId}/memos/{memoId}/edit(accountId=${memo.account.id}, memoId=${memo.id})}">更新</a>
        <form th:action="@{/account/{accountId}/memos/{memoId}/delete(accountId=${memo.account.id}, memoId=${memo.id})}" method="post">
            <input type="submit" value="削除">
        </form>
    </div>
</div></body>
</html>