<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>投稿詳細</p>
<p th:text="${memo.text}"></p>
<p th:text="${memo.account.username}"></p>
<div th:if="${#authentication.name == memo.account.username}">
    <a class="button" th:href="@{/account/{accountId}/memos/{memoId}/edit(accountId=${memo.account.id}, memoId=${memo.id})}">更新</a>
    <form th:action="@{/account/{accountId}/memos/{memoId}/delete(accountId=${memo.account.id}, memoId=${memo.id})}" method="post">
      <input type="submit" value="削除">
    </form>
  </div>

<p>コメント一覧</p>
<div th:each="comment : ${comments}">
    <p th:text="${comment.message}"></p>
    <p th:text="${comment.account.username}"></p>
    <div th:if="${#authentication.name == comment.account.username}">
        <a class="button" th:href="@{/memo/{memoId}/comment/{commentId}/edit(memoId=${memo.id},commentId=${comment.id})}">更新</a>
        <form th:action="@{/memo/{memoId}/comment/{commentId}/delete(memoId=${memo.id},commentId=${comment.id})}" method="post">
            <input type="submit" value="削除">
        </form>
    </div>
</div>

<div th:if="${#authentication.name != 'anonymousUser'}">
    <!-- ログイン済みユーザーの場合のみ表示 -->
    <form th:action="@{/memos/{memoId}/message(memoId=${memo.id})}" th:method="post" th:object="${comment}">
        <label>コメント</label>
        <input th:field="*{message}"  type="text">
<!--        <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>-->
        <input type="submit" value="登録">
    </form>
</div>
</body>
</html>